.ctr {
	width: 600px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -300px;
	line-height: 40px;
}

#icon-row {
	display: inline-flex;
}

h1 {
	font-size: 32px;
	letter-spacing: 3px;
}

body {

	font-family: 'Lato', serif;
	background-color: #E8F4FF;
	text-align: center;
	color: #333333;
	letter-spacing: 1px;
	display: block;
	cursor: default;
}

p {
	line-height: 8px;
}

br {
	display: block;
	margin: 30px 0;
	content: " ";

  font-family: 'Lato', serif;
  background-color: #E8F4FF;
  text-align: center;
  color: #333333;
  letter-spacing: 1px;
  display: block;

}

a {
	color: #333333;
	padding: 0px 3px;
}

a:hover {
	color: #004587;
}

a:active {
	color: white;
}


#more {
	font-size: 13px;
	line-height: 20px;
}

.hovered {
	text-decoration: underline;
	cursor: pointer;
}

